<div class="dropdown" rv-hide="product.variants | size | lt 2" rv-each-select="product.selectOptions" rv-data-index="%select%" rv-data-title="select.title">
  <button rv-id="select.title | handleize | append '-dropdown-toggle'" rv-class="dropdownButtonClass | append ' btn btn-secondary dropdown-toggle'" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    { select.select }
  </button>
  <div rv-class="select.title | handleize | append ' dropdown-menu'" rv-aria-labelledby="select.title | handleize | append '-dropdown-toggle'">
    <h6 class="dropdown-header">{ select.title }</h6>
    <div class="dropdown-item" rv-on-click="onOptionClick" rv-each-option="select.values" rv-data-index="%option%" rv-data-value="option">{ option }</div>
  </div>
</div>
<product-quantity-button rv-if="showQuantityButton" product="product" start="start" min="0" decrease="10" increase="10"></product-quantity-button>